@page
@model FPT_store.Pages.Login

<h1>Login Form</h1>
<form method="post">
    <input type="text" asp-for="Username">
    <input type="password" asp-for="Password">
    <button>Submit</button>
</form>