@page
@model FPT_store.Pages.Account.Login

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Login";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/login.css">
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
<<<<<<< HEAD
        <div class="fadeIn first py-2 mt-3">
=======
        <div class="fadeIn first mt-3 mb-2">
>>>>>>> master
            <img src="https://brasol.vn/public/uploads/1521190909-brasol.vn-fpt-logo.jpg" id="icon" alt="User Icon"/>
        </div>

        <!-- Login Form -->
        <form method="post">
            <input type="email" id="login" class="fadeIn second text-dark" asp-for="LoginModel.Email" value="" placeholder="Email" required>
            <div class="text-danger">@Model.Message</div>
            <input type="password" id="password" class="fadeIn third text-dark" asp-for="LoginModel.Password" value="" placeholder="Password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
            <a class="btn-link" asp-page="Register">Register</a>
        </div>

    </div>
</div>