@page "{id}"
@model FPT_store.Pages.Products.Delete

@{
    ViewData["Title"] = "Delete Product";
    Layout = "Shared/_LayoutAdmin";
}
<h3 class="text-danger">Sure, to delete product</h3>
<a asp-page="/admin/index">Return to admin page</a>

<form method="post">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts
{
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <script>
        alert("@Model.Message")
        </script>
    }
}