@page "{id}"
@model FPT_store.Pages.Products.Delete

@{
    ViewData["Title"] = "Delete Product";
    Layout = "Shared/_LayoutAdmin";
}

<div class="text-center">
    <h3 class="text-danger">Sure, to delete product?</h3>
    <a asp-page="/admin/index">Return to admin page</a>

    <form method="post" class="mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts
{
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <script>
        alert("@Model.Message")
        </script>
    }
}